################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSTEST/FileContentIndex/1c1f1bd7-9077-4fb6-8f4d-69398427ad50.vsidx
